{% extends "app/Master.html" %}

{% block content %}
<div class="home container-fluid">
        <div class="row home-ctas">
            <div class="container">
                <h1>Take a Free Math IQ Test!</h1>
                <h3>Is your IQ score high enough to be considered a genius? Take this free intelligence test and see your score instantly!</h3>
                <div class="quiz-cta-container">
                    <div class="quiz-cta">
    <div class="quiz-cta__icon">
        <i class="fa  fa-pencil " aria-hidden="true"></i>
    </div>
    <div class="quiz-cta__body">
                    <p class="quiz-cta__title">Math IQ Test<br><span class="subtitle">50 questions in 12:00 minutes</span></p>
                <a href="">Start</a>
    </div>
</div>
                    <div class="quiz-cta">
    <div class="quiz-cta__icon">
        <i class="fa  fa-bolt " aria-hidden="true"></i>
    </div>
    <div class="quiz-cta__body">
                    <p class="quiz-cta__title">Quick Math IQ Test<br><span class="subtitle">25 questions in 06:00 minutes</span></p>
                <a href="#">Start</a>
    </div>
</div>                </div>
            </div>
        </div>


    </div>

{% endblock %}
